.name{
text-align: center;
width:800px;
border-radius:20px;
color:#FF4ADB;
height:467px;
border:1px solid black;
box-shadow:15px 15px 10px 12px #666;

}
.hi{
    background-color: #FF4ADB;
    color:white;
    font-size:150px;
    border-radius:inherit;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
   font-family:Helvetica, Arial, sans-serif;
   
    
    }
    h2,h3{
        font-size:60px;
        color:#FF4ADC;
        margin: 10px;
        font-family:Helvetica, Arial, sans-serif;
       
        
        
    }
	img {
		padding:70px;
	}